<div class="phx-hero">
    <h2> Welcome to Goose </h2>
    <p> a Twitter bootleg </p>
    <a href="/timeline/posts"> Click here to enter </a>
    <br>
    <a href="/sessions/new"> Log-in </a>
    <br>
    <a href="/users/new"> Sign-in </a>
    
</div>